.content {
    padding: 10px;
    z-index: 50;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.section-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: -950px 0 200px;

}
.section-1__body {
    display: flex;
    margin: 0 20px 200px 0;
    padding: 20px 0 0 0;
    flex-direction: column;
    justify-content: center;
}

.section-1__body_title{
    font-size: 48px;
    font-weight: 700;
    line-height: 124%;
    text-align: left;
    margin: 0 200px 20px 0;
}
.section-1__body_text{
    font-size: 20px;
    line-height: 124%;
    text-align: left;
    padding: 0 200px 20px 0;
}
.section-1__body_buttons {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bold;
    line-height: 124%;
    margin-right: 200px;
}
.btn__app-store {
    display: flex;
    height: 53px;
    width: 200px;
    padding:0 20px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50px;
}
.btn__play-market {
    display: flex;
    height: 53px;
    width: 200px;
    padding:0 20px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50px;
}
.section-1__img {
    max-width: 646px;
    max-height: 776px;

}
.section-2 {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.section-2__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
}
.section-2__title_header {
    font-size: 46px;
    margin-bottom: 35px;
}
.section-2__title_text {
    font-size: 18px;
    color: #ABABAB;
    line-height: 124%;
    margin-bottom: 90px;
}
.section-2__body {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: #000000;
}
.link_img {
    border: 1px solid #8253D8;
    border-radius: 90px;
    background: linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
    max-width: 90px;
    max-height: 90px;
    width: 100%;
}
.section-2__body__list1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-2__body__list1 img{
    min-width: 35px;
    min-height: 35px;
    margin: 30px;


}
.s2-b-l1__link1 {
    display: flex;
}
.s2-b-l1__link2 {
    display: flex;

}
.s2-b-l1__link3 {
    display: flex;

}
.section-2__body__list2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-2__body__list2 img{
    min-width: 35px;
    min-height: 35px;
    margin: 22px auto;
}
.s2-b-l2__link1 {
    display: flex;
    justify-content: space-between;
}
.s2-b-l2__link2 {
    display: flex;

}
.s2-b-l2__link3 {
    display: flex;

}
.section-2__body_img {
    margin: 10px 0;
    max-width: 438px;
    max-height: 886px;
    height: 100%;
    padding: 10px 0;
}
@media (max-width: 530px) {
    .content {
        padding: 70px 0 0 0;
    }
}